<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8" />
    <title>Eat Hambergers!</title>
    <link href="public/style.css" rel="stylesheet">
  </head>

  <body>
    <div class="App">

      <canvas id="game" width="480" height="320"></canvas>
      <div id="score">
          <% for (var i = 0; i < rank.length; i ++ ) { %>
            <%= i + 1 %>. <%= rank[i].nick %>
            <%= rank[i].goodScore %>
            <br>
          <% } %>
      </div>
      
      <div style="display:none">
        <img id="hamberger" src="public/assets/hamberger.tiff">
        <img id="lettuce" src="public/assets/lettuce.tiff">
      </div>

    </div>
  </body>
</html>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="public/js/game.js"></script>